/*css di Lorenzo Botti*/
.navbar{
  display:block;
  /*border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;*/
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0; }
.navbar ul li{
  display: block;
  width: 100%}
.navbar ul li a{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 3rem;
  color: #222; }


.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.card > h1, h2, h3, h4, h5, h6, p{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 550px) {
  .navbar ul li{
    display: inline;
    width: auto; }
  .navbar ul li a{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
}
